.billing-details1,
.checkout1 {
  position: relative;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.checkout1 {
  margin: 0;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}
.billing-details1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.header {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
}
.first-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 92px;
}
.block-1 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
  max-width: 100%;
}
.last-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.block-2,
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-2 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
}
.row-1 {
  align-self: stretch;
  align-items: flex-start;
  gap: 19px;
}
.company-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.block-11 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  min-width: 314px;
  white-space: nowrap;
  max-width: 100%;
}
.country,
.icon {
  position: relative;
}
.country {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.block-21,
.row-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.block-21 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px;
  min-width: 314px;
  gap: 20px;
}
.row-2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.street-address {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 128px;
}
.block-12,
.row-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.block-12 {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 12px 24px;
}
.row-3 {
  align-self: stretch;
  align-items: flex-start;
}
.block-13,
.block-22,
.block-23,
.block-24,
.row-4 {
  border: 0;
  background-color: transparent;
  height: 50px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.block-22,
.block-23,
.row-4 {
  align-self: stretch;
}
.block-13,
.block-24 {
  flex: 1;
  min-width: 314px;
  max-width: 100%;
}
.form-field-block,
.row-5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  max-width: 100%;
}
.form-field-block {
  flex-direction: column;
  gap: 24px;
}
.billing-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.tag-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  font-family: "DM Sans";
  color: #5a5a5a;
  text-align: center;
  min-width: 39px;
}
.tag-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1 {
  width: 99px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 29px;
  gap: 16px;
}
.button3 {
  height: 54px;
  width: 136px;
}
.billing-header-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.billing-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.8px;
  min-width: 640px;
  max-width: 100%;
}
.checkout-details1 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.header1 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  white-space: nowrap;
}
.cart-subtotal,
.empty-order-details {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 114px;
}
.empty-order-details {
  min-width: 73px;
  white-space: nowrap;
}
.order-details-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div29,
.shipping-handling {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.div29 {
  display: inline-block;
  min-width: 51px;
  white-space: nowrap;
}
.order-details-items1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.div30,
.other-taxes {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.div30 {
  min-width: 51px;
  white-space: nowrap;
}
.order-details-items2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.order-details-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.div31,
.grand-total {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 99px;
}
.div31 {
  text-align: right;
  min-width: 73px;
  white-space: nowrap;
}
.checkout-details,
.order-details-items3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;
  gap: 20px;
}
.checkout-details {
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 20px;
  gap: 35.8px;
}
.transfer-options1 {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.header2 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
  white-space: nowrap;
}
.image-1-icon {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 38px;
  height: 23px;
  object-fit: contain;
}
.logo-block {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.bank,
.transfer {
  margin: 0;
}
.bank-transfer {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.block-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-2-icon {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 34px;
  height: 16px;
  object-fit: contain;
}
.logo-block1 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.google,
.pay {
  margin: 0;
}
.google-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.block-25,
.logos-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.logos-block {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.image-3-icon {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 15.5px);
  width: 32px;
  height: 13px;
  object-fit: contain;
}
.logo-block2 {
  align-self: stretch;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.apple,
.pay1 {
  margin: 0;
}
.apple-pay {
  position: relative;
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
}
.block-3 {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.image-4-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 40px;
  height: 20px;
  object-fit: contain;
}
.logo-block3 {
  width: 51px;
  height: 35px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
}
.paypal {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.block-4,
.payment-options-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.payment-options-content {
  width: 153px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details2 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  padding: 36px 290px 36px 24px;
  gap: 36px;
}
.billing-header,
.checkout-details-parent,
.checkout-details2,
.transfer-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transfer-options {
  align-self: stretch;
  flex-direction: column;
}
.billing-header,
.checkout-details-parent {
  gap: 47px;
  max-width: 100%;
}
.checkout-details-parent {
  width: 500px;
  flex-direction: column;
  min-width: 500px;
}
.billing-header {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
}
.checkout3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.header3 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 24px;
}
.your-personal-data {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.button4 {
  align-self: stretch;
  height: 54px;
}
.billing-content,
.checkout-details3,
.checkout2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-details3 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 36px 24px;
  gap: 36px;
  font-size: 16px;
}
.billing-content,
.checkout2 {
  width: 500px;
  max-width: 100%;
}
.billing-content {
  width: 1532px;
  align-items: flex-end;
}
.billing-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 24px 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 1300px) {
  .checkout-details-parent {
    flex: 1;
  }
  .billing-header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .row-1,
  .row-2,
  .row-5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .checkout1 {
    font-size: 26px;
    line-height: 31px;
  }
  .billing-details {
    gap: 18px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 18px;
  }
  .checkout-details2 {
    gap: 18px;
    padding-right: 145px;
    box-sizing: border-box;
  }
  .checkout-details-parent {
    gap: 23px;
    min-width: 100%;
  }
  .billing-header {
    gap: 23px;
  }
  .checkout-details3 {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .checkout1 {
    font-size: 19px;
    line-height: 23px;
  }
  .billing-header-content,
  .order-details-items,
  .order-details-items1,
  .order-details-items2,
  .order-details-items3 {
    flex-wrap: wrap;
  }
  .button4,
  .checkout-details2 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .button4 {
    padding-left: 20px;
  }
}
