.logo-icon4 {
  height: 45px;
  width: 45px;
  position: relative;
  object-fit: cover;
}
.arcade-aisle4 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 107px;
}
.logo-24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.explore-a-seamless1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #545454;
}
.footer-top {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 299px;
}
.resources1 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}
.agent-contact2,
.contact-us2,
.products2,
.services2 {
  width: 98.7px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.agent-contact2,
.contact-us2,
.services2 {
  width: 117.8px;
}
.agent-contact2,
.services2 {
  width: 156.2px;
  display: none;
}
.services2 {
  text-decoration: none;
  width: 97.3px;
  color: inherit;
  display: inline-block;
}
.footer-links-columns {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 142px;
}
.legal-pages1 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}
.privacy-policy2,
.terms-and-condition1 {
  position: relative;
  line-height: 22px;
}
.privacy-policy2 {
  text-decoration: none;
  width: 117.8px;
  color: inherit;
  display: inline-block;
}
.refund-policy1 {
  width: 156.2px;
  display: inline-block;
}
.cancellation-policy1,
.refund-policy1 {
  position: relative;
  line-height: 22px;
}
.footer-links-columns1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 142px;
}
.important-links1 {
  width: 219.2px;
  height: 56px;
  position: relative;
  font-size: 24px;
  letter-spacing: -0.06px;
  line-height: 28px;
  display: inline-block;
  color: #1d1d1d;
}
.about-us1,
.agent-contact3,
.contact-us3,
.services3 {
  width: 98.7px;
  height: 22px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.agent-contact3,
.contact-us3,
.services3 {
  width: 117.8px;
}
.agent-contact3,
.services3 {
  width: 156.2px;
}
.services3 {
  width: 97.3px;
}
.important-links-group {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.footer-content1,
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footer-links {
  width: 534.5px;
  justify-content: flex-start;
  gap: 96px;
  min-width: 534.5px;
  font-size: 16px;
  color: #545454;
  font-family: Inter;
}
.footer-content1 {
  width: 1680px;
  justify-content: space-between;
  gap: 20px;
}
.arcade-aisle-all1 {
  position: relative;
  line-height: 22px;
}
.privacy-policy3,
.tearms-conditions1 {
  align-self: stretch;
  width: 105px;
  position: relative;
  line-height: 22px;
  display: none;
}
.tearms-conditions1 {
  width: 156px;
}
.footer-menu1,
.legal-menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.legal-menu1 {
  height: 22px;
  width: 348px;
  justify-content: flex-start;
  gap: 87px;
}
.footer-menu1 {
  width: 1680px;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  color: #545454;
  font-family: Inter;
}
.footer-desktop1 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 53px 20px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "DM Sans";
}
@media screen and (max-width: 1100px) {
  .footer-links,
  .footer-top {
    flex: 1;
  }
  .footer-content1 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .footer-links {
    gap: 48px;
    min-width: 100%;
  }
  .footer-links,
  .footer-menu1 {
    flex-wrap: wrap;
  }
  .footer-desktop1 {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .important-links1,
  .legal-pages1,
  .resources1 {
    font-size: 19px;
    line-height: 22px;
  }
  .footer-links {
    gap: 24px;
  }
  .footer-desktop1 {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
