.features-container,
.features-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.features-container {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 120px;
  gap: 24px;
}
.features-container-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 80px;
  text-align: center;
  font-size: 24px;
  color: #262626;
  font-family: Inter;
}
@media screen and (max-width: 1100px) {
  .features-container {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .features-container {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .features-container-wrapper {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
