.search-bar-wrapper {
  border: 0;
  background-color: transparent;
  height: 48px;
  width: 720px;
  font-family: "DM Sans";
  font-size: 16px;
  color: #262626;
  max-width: 100%;
}
.nav-bar-group,
.search-bar-wrapper-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search-bar-wrapper-wrapper {
  flex-direction: row;
  justify-content: center;
  padding: 24px 20px;
  box-sizing: border-box;
}
.nav-bar-group {
  flex-direction: column;
  justify-content: flex-start;
}
